*~
*.o
*.a
*.so
*.dylib
*.dll
*.la
*.lo
*.pc

/autom4te.cache/
/autotools/

/aclocal.m4
/config.h*
/config.log
/config.status
/configure
/libtool
/stamp-h1

Makefile
Makefile.in

/src/.deps/
/src/.libs/

